body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#1c1c1c;

  display:flex;
  justify-content:center;
  align-items:center;

  height:100vh;
}

.container{
  width:600px;
  background:#f2f2f2;
}

.header{

  background:linear-gradient(180deg,#5f6df1,#6c63ff);

  color:white;
  text-align:center;

  padding:40px 20px;
}

.header h1{
  margin-bottom:25px;
}

.input-box{

  width:120px;

  margin:0 auto 20px;

  padding:15px;

  font-size:40px;

  border:2px solid #b295ff;

  border-radius:8px;

  text-align:center;

  display:block;

}

.convert-btn{

  padding:10px 25px;

  border:none;

  border-radius:6px;

  background:white;

  cursor:pointer;

}

.results{
  padding:30px;
}

.card{

  background:#eaeaea;

  padding:25px;

  margin-bottom:20px;

  text-align:center;

  border-radius:6px;

}

.card h3{

  color:#5f5c7b;

  margin-bottom:10px;

}

.card p{
  color:#333;
}